*{
  background-color: #fafafa;
}.navbar {
  display: flex;
  background-color: rgb(185, 15, 201);
  justify-content: center;
  align-items: center;
  top: 0;
  height: 10vh;
  color: white;
  position: fixed;
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  z-index: 1;
  
}
.container{
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  align-items: center;
  position: relative;
  top: 10vh;
  
  top: 10vh;
  
  height: 80vh;
  width: 100%;
}
.name {
  font-size: 24px;
  font-weight: 700;
}
.job{
  padding:15px auto;
  font-size: 15px;
  font-weight: 700;
}
.bio{
  padding-top:15px;
  text-align: justify;
}
